.button__large {
  display: flex;
  border: 2px solid var(--color--highlight-red);
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: var(--font--primary);
  color: var(--color--highlight-red);
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  margin: 0.5rem auto;
}
.button__text {
  color: var(--color--text-default);
}

.button__large:hover {
  background: linear-gradient(to right, #bde4e5, #f8f9fa, #bde4e5);
}

.button__large:active {
  background: var(--color--accent-shade1);
}
