.portfolio__block-content {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--color--background-secondary),
    var(--color--background-primary),
    var(--color--background-secondary)
  );
}

.portfolio__grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.portfolio__card {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 900px;
  gap: 5rem;
  border-radius: 50px;
  background-color: white;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    max-width: 280px;
  }
}
.portfolio__card-text {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  max-width: 300px;
}
.portfolio__card-text-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.portfolio__card-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center;
  @media screen and (max-width: 360px) {
    font-size: 25px;
  }
}

.portfolio__img {
  width: 100%;
}

.portfolio__card-heading-underline {
  width: 100%;
  height: 15px;
  margin-top: -1rem;
  margin-bottom: 3rem;
  background-color: var(--color--highlight-red);
  transition: 0.3s ease-in-out;
  @media screen and (max-width: 360px) {
    height: 10px;
  }
}

.portfolio__link:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 6px 6px var(--color--accent-shade1);
  border-radius: 50px;
}
.portfolio__card:hover .portfolio__card-heading-underline {
  height: 50px;
  margin-top: -50px;
  border-radius: 3px;
}

/* .portfolio__underline {
  width: 100%;
  height: 15px;
  margin-top: -1rem;
  margin-bottom: 3rem;
  background-color: var(--color--highlight);

} */
