@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Mulish");

.block__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  background-color: var(--color--background-primary);
}

.heading__primary {
  font-size: 70px;
  font-family: var(--font--primary);
  text-align: center;

  @media screen and (max-width: 1000px) {
    font-size: 40px;
  }
}
.heading__secondary {
  font-size: 30px;
  font-family: var(--font--primary);
}

.text__default {
  font-family: var(--font--secondary);
  font-size: 19px;
}
.text__hero {
  font-family: var(--font--primary);
  font-size: 19px;
  line-break: auto;
  max-width: 500px;
  text-align: center;
}

.app {
  background-color: white;
  --color--background-primary: #f5fcf3;
  --color--background-secondary: #f8f9fa;
  --color--accent-shade1: #bde4e5;
  --color--accent-shade2: #ed9b40;
  --color--accent-shade3: #1a936f;
  --color--background-dark: #2a2b2e;
  --color--highlight-red: #ec6974;
  --color--highlight-yellow: #f7f052;
  --color--text-default: black;
  --color--text-light: var(var(--color--background-primary));
  --font--primary: Poppins;
  --font--secondary: Mulish;
}
