@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Mulish");

.block__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  background-color: var(--color--background-primary);
}

.heading__primary {
  font-size: 70px;
  font-family: var(--font--primary);
}
.heading__secondary {
  font-size: 30px;
  font-family: var(--font--primary);
}

.text__default {
  font-family: var(--font--secondary);
}

.app {
  background-color: white;
  --color--background-primary: #f5fcf3;
  --color--accent-shade1: #bde4e5;
  --color--accent-shade2: #ed9b40;
  --color--background-dark: #2a2b2e;
  --color--highlight: #ec6974;
  --color--text-default: black;
  --color--text-light: var(var(--color--background-primary));
  --font--primary: Poppins;
  --font--secondary: Mulish;
}
